.anaDiv{
    background-image:
    radial-gradient(rgba(27, 27, 27, 0.3), rgba(0, 0, 0, 0.9)),
    url('../images/andropoz2.webp'); 
    height: 90vh; 
    background-repeat: no-repeat; 
    background-size: cover;
}

.movieSummary p {
    color: white;
}

.menu li{
    list-style: none;
}

.menu li a {
    color: white;
    text-decoration: none;
    list-style: none;
    font-size: smaller;
}

.info {
    color: white;
}

@media screen and (max-width: 625px) {
    .menu-items {
        display: none;
    }

    body {
        font-size: 10px;
    }

    .btn {
        height: 20px;
        width: 50px;
        font-size: 5px;
    }

    svg {
        display: none;
    }

    .browse {
        display: block;
    }
    .anaDiv{
        height: 50vh;
    }

}

@media screen and (min-width: 625px) {
    .browse {
        display: none;
    }


}

body{
    background-color: black;
}


.mySwiper{
    margin:40px;
    position: relative;
}

.mySwiper img{
    border-radius: 10px;
    scale: 0.9;
    position: relative;
}

.swiper-slide img:hover{
    scale: 1.5;
    transition: 0.5s ease-in-out;
    z-index: 100;
}


h5{
    color: white;
    margin-left: 10px;
}

.chart img{
    width: 60%;
}

.blank{
    height: 80px;
}

.serviceCode{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: grey;
    font-size: small;
    border: 1 solid grey;

}

footer{
    font-size: smaller;
}

.reserved{
    margin-left:33%
}

.social{
    fill:white;
    margin-left:33%;
    margin-bottom: 20px;
}

.social svg{
    margin-left:7px;
}

.menu{
    width: 100%;
}

